@font-face{
    font-family: "yo";
    src: url('fonts/font1.woff');
}

@font-face{
	font-family: "tech3";
	src: url('fonts/Squared%20Display.ttf');
}

body {
background: url('unit1_projects/images/graphy/graphy.png');
}
#container {
	margin: 0 auto;
	width: 100%;
	display: inline;
}
/*header*/
h1 {
	font-size: 6em;
	font-family: labtop;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.column7 {
	width: 66%;
}
#title {
	float:right;
	padding-right: 70px;
	margin: 25px auto;
}
.red {
	color:red;
}
/*nav*/
.sidebar {
	width:240px;
	min-height: 500px;
	margin-left: 40px;
}
nav a {
	text-decoration: none;
}
a:link {
	text-decoration: none;
	color:black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
		text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
		color:red;
}
nav {
	text-align: center;
	font-size: 2em;
	float: left;
	padding: 50px 0 0 0;
}
nav li {
	font-family: tech3;
	font-size: .8em;
	font-weight: bolder;
	margin-top: 15px;
}
#me {
	margin: 10px 20px 20px 20px;
	width:150px;
	height:150px;
	border-radius: 360px;
	border: 3px solid black;
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.wrapper {
	width: 240px;
	margin-top: 32px;
	margin-right: 20px;
	display: inline-block;

}
.column {
	width: 200px;
	background-color: white;
	padding: 15px;
	font-family: yo;
	font-size: 1em;
	float:left;
	margin-left: 40px;
	min-height: 380px;
}
.column p {
	line-height: 130%;
	text-align: justify;
}
.right {
	box-shadow: 10px 10px red;
}
.left {
	box-shadow: 10px 10px red;
}
.mid {
	box-shadow: 10px 10px black;
}
.text_line {
    clear: both;
    margin-top: 40px;
}
footer {
	display: inline;
	width:60%;
	text-align: center;
	font-family: yo;
	padding-right: 320px;
	font-size: .8em;
}