body {
	background: url('../../unit1_projects/images/graphy/graphy.png');
}

#title {
	font-size: 5em;
	margin: 10px auto;
}

.thecontent {
	box-shadow: 10px 10px solid black;
}
.left-off-canvas-menu {
	background:white;
}

.main-section {
	padding: 40px;
}

li {
	line-height: 140%;
}