html {
	text-align: center;
}

#container {
	border: 10px solid black;
	padding: 10px;
	line-height: 140%;
	font-family: zhukov_zippo;
}

#me img {
	width: 600px;
	height: 800px;
}

@font-face{
    font-family: "JS-Duangta";
    src: url('JS-Duangta.ttf');
    font-family: "zhukov_zippo";
    src: url('zhukov_zippo.otf');
}